body{
    background-color: white;
}


div#sommaire{
    background-color: blue;
    width: 100%;
}


div#nom{
    float: inline-start;
    background-color: green;
    width: 200px;
    height: 5%;
}
div#liens{
    background-color: gray;
    margin-left: 200px;
    height: 5%;
}
sommaire{
    background-color: red;
    height: 5%;
}

nom{
    background-color: aqua;
    width: 100;
}



